/* =============================== CSS Reset Start ================================= */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: 0.2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    background-color: #cecece;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ========================================= CSS Reset Ends Here =================================== */

.container{
  width:576px;
  margin:0 auto;
  background-color: #ffffff;
}
.navbar{
  background-color: #ffffff;
  padding:1rem 0;
  filter: drop-shadow(0px 2.9825618267059326px 7.456404209136963px rgba(0, 0, 0, 0.10));
}
.navbar-logo{
  margin-left:2.25rem;
}
section{
  padding:1.25rem 2.25rem;
}

.airbnb-logo{
  width:100px;
}

.hero-images{
  display: flex;
  justify-content: center;
}
.hero-images img{
  width: 440px;
  align-self: center;
} 
.hero-content h1{
  width: 25rem;
  color: #000;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 2.475rem */
  margin:2rem 0 0.75rem 0;
}
.hero-content p{
  width: 20rem;
  color: #222;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 1.1rem */
}
.main-content{
  display: flex;
  overflow: scroll;
}
.main-details{
  position: relative;
}

.main-details img{
  width: 12rem;
  height: 17rem;
  object-fit: cover;
  margin-right: 1.125rem;
  border-radius: 0.5625rem;
}

.details-description{
  margin:1rem 0 0.5rem 0;
}
.description-rating{
  display: flex;
  flex-direction: row;
  font-weight: 300;
  line-height: 1.5;
  align-items: center;
}

.description-rating p{
  padding:0 0.375rem;
}

.description-rating p span{
  opacity: 0.7;
}
.details-description p{
  color: #222;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8;
}
.details-description strong{
  font-weight: 600;
}
.card--badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}